/* styles/swiper-custom.css */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-button-next,
.swiper-button-prev {
  color: white;
}

:root {
  --swiper-navigation-size: 20px;     /* 矢印アイコンのサイズを小さく */
}